<div class="container">
    <h1>Tea Time</h1>
    <label for="email"><b>Email</b></label>
    <input id="email-input" type="email" placeholder="Enter Email" name="email">
    <label for="name"><b>Name</b></label>
    <input id="name-input" type="text" placeholder="Enter Name" name="name">
    <label for="psw"><b>Password</b></label>
    <input id="password-input" type="password" placeholder="Enter Password" name="psw">
    <label for="psw-confirm"><b>Confirm Password</b></label>
    <input id="password-confirm-input" type="password" placeholder="Confirm Password" name="psw-confirm">
    <span class="error"></span>
    <button id="submit-button" class="btn-primary">Register</button>
    <p>Already have an account? <a id="login-button" href="#">Login here!</a></p>
</div>
