* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  height: 60px;
}

.navbar-logo {
  width: 100px;
  height: auto;
  margin-left: 20px;
  transform: scale(0.3);
}

.navbar-links {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.navbar-link {
  color: #147a54;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
}

.navbar-link:hover {
  background-color: #bebebe;
}

.navbar-link:not(:last-child) {
  margin-right: 20px;
}

img:hover {
  cursor: pointer;
}