nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
}

.logo img {
  height: 50px;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  color: #147a54;
  text-decoration: none;
  padding: 10px;
}

.nav-links li:not(:last-child) {
  border-right: solid #147a54;
}